@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
  
  font-family: "Nanum Gothic", "Heletiva Neue", "Lucida Grande", "Sans serif";
	position: relative;
  width: 100vw;
  height: 100vh;
  
  background-color: white;
}


#layout {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	padding: 1px;
  
}

.nodrag {
  standard-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}

#header {
	position: relative;
    color: black;
    font: bold;
    font-size: 26px;
    text-align: left;
    padding: 5px;
    width: 1400px;
    height: 10px;
    background: transparent;
}

.mobile #header {
  height: 0px;
  padding: 0px;
  margin: 0px;
}

#container {
	position: relative;
/*
	width: 1400px;
	height: 650px;
*/
  width: 100vw;
	height: 100vh;
	padding: 8px;
/*	background-color: yellow;*/
}

.mobile #container {
  padding: 0px;
}

#menu-container {
  display: -webkit-box;     
  display: -moz-box;         
  display: -ms-flexbox;     
  display: -webkit-flex;    
  display: flex;             
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  
  -ms-flex-wrap: none;
  flex-wrap: nowrap; 
	position: relative;
	left: 0px;
	top: 0px;
	width: 400px;
	height: 80px;
	background: transparent;
}

.menu {
  display: -webkit-box;     
  display: -moz-box;         
  display: -ms-flexbox;     
  display: -webkit-flex;    
  display: flex;     
  flex-basis: 80px;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  
  
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.menu-sub {
  display: -webkit-box;     
  display: -moz-box;         
  display: -ms-flexbox;     
  display: -webkit-flex;    
  display: flex;     
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  
}

.menu-sub span {
  color: white;
}


#title {
	display:inline-block;
  color: black;
  font: bold;
  font-size: 22px;
  text-align: left;
  width: 200px;
  padding: 5px 5px 5px;
  padding-bottom: 0px;
  height: auto;
  background: transparent;
  font-weight: 600;
}

#title span {
  font-size: 18px;
  color: black;
  padding-left: 2px;
}
#subtitle {
	display:inline-block;
  color: #000;
  font-size: 16px;
  text-align: left;
  width: auto;
  padding: 5px 5px 0px;
  padding-bottom: 0px;
  height: auto;
  background: transparent;
  font-weight: 600;
}

#logo-div {
  position: relative;
  height: 100%;
  width: 60px;
  margin-right: 10px;
/*  display: inline-block;*/
}

.logo {
  top: -2px;
/*  left: 5px;*/
	height: 100%;
	width: auto;
	border: none;
	padding: 0px;
}



#help {
  position: absolute;
  padding: 8px;
  left: 1110px;
  top: 5px;
  width: 280px;
  color: #888;
  border: 1px solid #a7a7a7;
  border-radius: 8px;
}




#credit {
  position: absolute;
  left: 25px;
  top: 25px;
  width: 450px;
  height: 200px;
  color: white;
/*  border: 1px solid #a7a7a7;*/
/*  border-radius: 8px;*/
  line-height: 22px;
  text-align: center;
}

.mobile #credit {
  left: 5px;
  top: 5px;
  width: 400px;
  height: 150px;
}

#credit-header {
  height: 35px;
}

.mobile #credit-header {
  padding: 4px;
  height: 20px;
}
#credit-body {
  display: -webkit-box;     
  display: -moz-box;         
  display: -ms-flexbox;     
  display: -webkit-flex;    
  display: flex;             
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: none;
  flex-wrap: nowrap; 
  
}
#credit-left {
  flex-basis: 34%;
  text-align: right;
  padding: 10px;
  padding-top: 9px;
}

.mobile #credit-left {
  flex-basis: 30%;
}

#credit-right {
  flex-basis: 66%;
  text-align: left;
  padding: 10px 10px 10px 10px;
}
.mobile #credit-right {
  flex-basis: 70%;
}

#credit-title {
  font-size: 20px;
}

#credit-content {
  
}

.credit-small {
  font-size: 14px;
}

#credit-tail {
  padding: 5px;
  font-size: 14px;
}

#credit-tail .credit-small {
  font-size: 12px;
}
.mobile #credit-tail {
  color: #50A162;
}
.mobile #help {
  visibility: hidden;
}
#help span {
  font-size: 20px;
}
/*
#button-container {
	position: absolute;
	left: 0px;
	top: 100px;
	width: 360px;
	height: auto;
	background: transparent;
  margin: 5px;
  border-radius: 10px;
  
}
*/

#button-container {
	position: absolute;
	left: 980px;
	top: 350px;
	width: 270px;
	height: auto;
	background: transparent;
  margin: 5px;
  border-radius: 10px;
  
}
.mobile #button-container {
  width: 280px;
  top: 320px;
  left: 910px;
  margin-left: 0px;  
}

#button-container-sub {
	position: absolute;
	left: 1275px;
	top: 350;
	width: 360px;
	height: auto;
	background: transparent;
  margin: 5px;
}

.mobile #button-container-sub {
  width: 300px;
  top: 20px;
  left: 1050px;
  margin-left: 0px;   
}

#button-container-sub2 {
  position: absolute;
	left: 1275px;
	top: 350;
	width: 360px;
	height: auto;
	background: transparent;
  margin: 5px;
  visibility: hidden;
}

.mobile #button-container-sub2 {

  
  width: 300px;
  top: 80px;
  left: 1050px;
  margin-left: 0px;   
  visibility: visible;
}

.btn {
    background-color: #e7e7e7; /* Green */
    border: none;
    width: 60px;
    height: 60px;
    color: #777;
    font-size: 800;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 2px 2px;
    border-radius: 10px;
  
/*  visibility: hidden;*/
}

.mobile .btn {
  width: 120px;
  height: 120px;
}

.mobile #button-container-sub .btn {
  width: 50px;
  height: 50px;
}
.mobile #button-container-sub2 .btn {
  width: 50px;
  height: 50px;
}
.btn:hover {
	background-color: #d7d7d7;
  cursor: hand;
}

.btn:focus {
	outline: none;
}


#record {
	position: absolute;
	top: 360px;
	left: 230px;
	width: 180px;
	height: 290px;
  color: #777;
	background: #e7e7e7;
	border-radius: 7px;
  padding: 12px 10px;
  text-align: center;
  text-decoration: none;

  margin: 5px;	
}

#record-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 8px;
  
}

.mobile #record {
  width: 160px;
  height: 260px;
  left: 220px;
  top: 295px;
  padding: 12px 8px;
}
.mobile #record-title {
  height: 0px;
  color: #e7e7e7;
  margin: 0px;
}

#record-table {
  display: -webkit-box;     
  display: -moz-box;         
  display: -ms-flexbox;     
  display: -webkit-flex;    
  display: flex;     
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: none;
  flex-wrap: nowrap; 
}

#record-table .selected {
/*  background: #90B162;*/
  border: 2px solid #aaa;
}

.record-content {
  display: -webkit-box;     
  display: -moz-box;         
  display: -ms-flexbox;     
  display: -webkit-flex;    
  display: flex;     
  flex-basis: auto;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  
  
  line-height: 17px;
	font-size: 14px;
	margin-bottom: 3px;
  background: #ffffff;
  border-radius: 4px;
  padding: 0px 2px;
  
  border: 2px solid #e7e7e7;
  
}


.record-content:last-child {
  margin-bottom: 0px;
}



.record-content .corner,
.record-content .turn {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.record-content div:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}


.record-content:hover {
/*  background: #ccc;*/
  border: 2px solid #888;
  cursor: pointer;  
}


.record-content div {
	display: inline-block;
  font-weight: 400;
	width: 26px;
	background: #ffffff;
  margin: 0px 1px;
 
}

.record-content .index {
  font-weight: 400;
  color: #a7a7a7;
}

.record-content .s {
  color: #666;
  
}
.record-content .d {
  color: #ff6f69;
}


.record-content .h {
  color: #ff6f69;
  
}
.record-content .c {
  color: #666;
  
}

.recond-content .j {

}
/*
.record-content .turn {
  cursor: pointer;
}

.record-content .turn:hover {
  color: #ff6f69;
}
*/
.record-content .corner {
  color: white; 
  background: white;
}

.record-content .winner {
  background-color: #FFF8BD;
  border-radius: 3px;
  
/*  border-bottom: 1px solid #777;*/
}
.record-content .leader {
  color: #ff6f69;
  font-weight: 800;  
  border-radius: 3px;
/*  border-bottom: 1px solid #777;*/
}

.record-content .friend {
  color: #4B7AA5;
  font-weight: 800;
  border-radius: 3px;
/*  border-bottom: 1px solid #777;*/
}

.record-content .first {
  border-radius: 3px;
  border-left: 1px solid #bbb;
/*  border-top: 1px solid #bbb;*/
}

.record-content .giruda {
/*  color: #ff6f69;*/
  background-color: #FFF8BD;
  border-radius: 3px;
/*  opacity: 0.9;*/
/*  color: #50A162;*/
}

.record-content .joker {
  background-color: #DBEFDF;
  border-radius: 3px;
}

.record-content .mighty {
  background-color: #FACCD4;
  border-radius: 3px;
  
}
.record-content .jocall {
  
}



#bidding {
/*
    display: -webkit-box;     
  display: -moz-box;         display: -ms-flexbox;     
  display: -webkit-flex;    
  display: flex;     
    -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: none;
  flex-wrap: nowrap; 
*/
	position: absolute;
	top: 360px;
	width: 190px;
	height: 290px;
  color: #777;
	background: #e7e7e7;
	border-radius: 7px;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;

  margin: 5px;
}

.mobile #bidding {
  height: 260px;
  top: 295px;
}
#bidding-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 8px;
}

.mobile #bidding-title {
  height: 0px;
  color: #e7e7e7;
  margin: 0px;
}
#bidding-table {
  display: -webkit-box;     
  display: -moz-box;         
  display: -ms-flexbox;     
  display: -webkit-flex;    
  display: flex;     
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: none;
  flex-wrap: nowrap; 
}


.bidding-content {
  position: relative;
  display: -webkit-box;     
  display: -moz-box;         
  display: -ms-flexbox;     
  display: -webkit-flex;    
  display: flex;     
  height: 42px;
  width: auto;
/*
  flex-basis: 36px;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  
*/
  
	-webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  -ms-flex-wrap: none;
  flex-wrap: nowrap; 
	position: relative;
	font-size: 20px;
  line-height: 42px;
  font-weight: bold;
  margin-bottom: 8px;
  border-radius: 5px;
  padding: 2px;
  background: white;
}


.bidding-content div {
  display: -webkit-box;     
  display: -moz-box;         
  display: -ms-flexbox;     
  display: -webkit-flex;    
  display: flex;     
  flex-basis: 20px;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
	padding: 5px;
	background: transparent;
	line-height: 24px;
}

.bidding-content div:hover {
	cursor: pointer;
  opacity: 1;
	color: #ff6f69;
}

.bidding-content div span {
	opacity: 0.7;
}

.bidding-content div img {
	opacity: 0.5;
}

.bidding-content div .s {
	opacity: 1;
	font-size: 22px;
/*  color: #ff6f69;*/
}

.bidding-content-friend div .s {
	opacity: 1;
}

.bidding-content div .u {
	opacity: 0.1;
}

.bidding-content img {
	display: inline-block;
	width: auto;
	height: 60%;
	border: none;
	opacity: 1;
}

.bidding-content input {
	background: #e7e7e7;
	border: none;
	width: 35px;
	text-align: center;
	font-size: 18px;
	color: #ff6f69;
  border-radius: 3px;
}

.bidding-content input:focus {
	background: white;
	color: #ff6f69;
	outline: none;
}


.bidding-content img:hover {
	opacity: 1;
}

.bidding-content-leader div {
 	font-size: 20px;
  line-height: 20px;
	margin-top: 5px;
}

.bidding-content-suit div {
 	font-size: 20px;
  line-height: 30px;
}
.bidding-content-suit img {
  padding-top: 2px;
}
.bidding-content-contract div {
	font-size: 16px;
  line-height: 26px;
	padding: 5px 3px 5px 3px;
  margin-top: 2px;
}


.bidding-content-friend div {
	font-size: 18px;
  line-height: 30px;
  
}

.bidding-content-friend span {
  text-align: center;
  width: 100%;  
}
.bidding-content-friend:first-child {
  width: 28px;  
}
#result-content {
  padding: 0px;
/*  height: 67px;*/
/*  line-height: 67px;*/
}

#playdiv {
  padding: 4px;
  height: 100%;
  border-radius: 5px; 
  width: 100%;
}

#playdiv .s {
  background-color: #777;
  color: white; 
}


#playdiv .on {
  background: #ff6f69;
  color: white;
}

#playdiv .off {
  background: white;
}

#playbtn {
  background: white;
  border: none;
  width: 100%;
  height: 80%;
  color: #777;
  padding: 0px;
  text-align: center;
  text-decoration: none;
/*  display: inline-block;*/
  font-size: 18px;
  font-weight: 800;
  margin: 0px; 
  border-radius: 5px;
  color: #888;
  
   -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  
  
}

#playbtn:hover {
	background-color: #ff6f69;
  background-color: #999;
  color: white;
  cursor: pointer;
}

#playbtn:focus {
	outline: none;
}

/*

#login-container {
  position: relative;
	top: 280px;
	left: 980px;
	width: 400px;
  height: 60px;
  padding: 2px 10px;
  background-color: #e7e7e7;
  border-radius: 10px;
}
*/

#login-container {
  position: relative;
  top: 15px;
  left: 5px;
  width: 250px; 
  height: 65px;
  padding: 2px 10px;
  background-color: #e7e7e7;
  border-radius: 10px;
}

.mobile #login-container {
  height: 40px;
}

#login {
  position: relative;
  padding: 8px;
  left: 0px;
  top: 0px;
  width: auto;
  color: #888;

  border-radius: 8px;

}

#login:hover {
  color: #555;
  cursor: pointer;
/*  font-weight: 800;*/
  
}

#openfile-container {
  padding: 2px 5px;
}

.mobile #openfile-container {
  visibility: hidden;
}

#deck-container {
  position: relative;
	top: 285px;
	left: 980px;
	width: 400px;
	height: 220px;
  padding: 10px;
  background-color: #e7e7e7;
  border-radius: 10px;
  
}

.mobile #deck-container {
  visibility: hidden;
}

#deck-table {
  position: relative;
  width: auto;
	height: auto;
  
	
	
}


.card-deck-img {
	position: absolute;
	width: 70px;
	height: auto;
	border-radius: 8px;
}

.player {
	width: auto;
	height: auto;
	background-color: transparent;
  z-index: 1000;
}

#player0 {
	position: absolute;
	width: 480px;
	height: 170px;
	top: 500px;
	left: 500px;
}
.mobile #player0 {
  top: 410px;
  left: 445px;
}
#player1 {
	position: absolute;
	top: 185px;
	left: 100px;	
  
}
.mobile #player1 {
  top: 150px;
  left: 90px;
}
#player2 {
	position: absolute;
	top: 5px;
	left: 340px;
}

.mobile #player2 {
  left: 300px;
  top: 0px;
}
#player3 {
	position: absolute;
	top: 5px;
	left: 720px;	
}
.mobile #player3 {
  left: 660px;
  top: 0px;
}
#player4 {
	position: absolute;
	top: 185px;
	left: 990px;
}
.mobile #player4 {
  top: 160px;
  left: 875px;
}

.hand {
	position: relative;
	width: auto;
	height: auto;
	background-color: transparent;

}


#p0hand {

}

#p1hand {
	

}

#p2hand {

}

#p3hand {

}

#p4hand {

}

img 
{
	position: absolute;
	height: auto;
	z-index:1;
  border: 1px solid #555;
/*  box-sizing: border-box;*/
}



.mobile #me img:hover {
  top: 10px;
}

.mobile .player img:hover {
  top: 5px;
}

#me img:hover{
  cursor: hand;
  top: 0px;
}

.player img:hover {
  cursor: hand;
  top: -5px;
}



.faceimg {
	border: 1px solid #555;
}

.bckimg {
  border: 1px solid #DF506B;
}



.card-mine {
	position: absolute;
	width: 120px;
	border-radius: 10px;
	height: auto;
	top: 10px;
}


.card-mine-extra {
	position: absolute;
	width: 110px;
	border-radius: 10px;
	height: auto;
	top: 0px;

}

.card-player {
	position: absolute;
	width: 100px;
	height: auto;
	border-radius: 10px;
	top: 5px;
  
}

.card-player-extra {
	position: absolute;
	width: 80px;
	border-radius: 10px;
	height: auto;
	top: -5px;
	z-index: 1000;

}



.pointcard-img {
	width: 50px;
	height: auto;
	border-radius: 5px;
	z-index: 2;
}



.pointcard {
	background: lightblue;
}

#p0point {
	position: absolute;
	left: 60px;
	bottom: 60px;
}

#p1point {
	position: absolute;
	left: -25px;
	top: 60px;
}

.mobile #p1point {
  top: 50px;
}
#p2point {
	position: absolute;
	left: 60px;
	top: -35px;
}

#p3point {
	position: absolute;
	left: 310px;
	top: -35px;
}

.mobile #p3point {
  left: 240px;
  
}
#p4point {
	position: absolute;
	left: 470px;
	top: 60px;
}
.mobile #p4point {
  left: 390px;
  top: 50px;
}
#face-container {
	position: absolute;
	top: 190px;
	left: 450px;
	width: 500px;
	height: 300px;	
	background: #50A162;
	border-radius: 30px;
}

.mobile #face-container {
  height: 210px;
  width: 415px;
  left: 425px;
  top: 180px;
}
.facecard{
	width: 80px;
	height: auto;
	border-radius: 9px;
  z-index: 1000;
}

.facecard:hover {
    
}

.face {
	position: absolute;
	background: lightyellow;
  cursor: hand;
}

#p0face {
	left: 210px;
	top: 165px;
  z-index: 1001;
}
.mobile #p0face {
  top: 80px;
  left: 170px;
}
#p1face {
	left: 50px;
	top: 85px;
  z-index: 1001;

}
.mobile #p1face {
  top: 60px;
  left: 35px;
}
#p2face {
	left:155px;
	top: 40px;
}
.mobile #p2face {
  left: 124px;
}
#p3face {
	left:255px;
	top: 40px;

}
.mobile #p3face {
  left: 211px;
}
#p4face {
	left: 355px;
	top: 90px;
  
}

.mobile #p4face {
  top: 60px;
  left: 300px;
}

.playerNo {
	position: absolute;
/*	color: #50A162;*/
  color: transparent;
	font-size: 15px;
	font-weight: 800;
	display: inline-block;
	width: 20px;
	height: auto;
	padding-top: 1px;
	padding-bottom: 1px;
	text-align: center;
	background: white;
	border: 1px solid #50A162;
  border: 3px solid #fff;
	border-radius: 50px;

	z-index: 3;
/*  visibility: hidden;*/
}


#p0no {
	left: 48%;
	top: 70%;
}
#p1no {
	left: 15%;
	top: 45%;
}
#p2no {
	left: 30%;
	top: 15%;
}
#p3no {
	left: 67%;
	top: 15%;
}
#p4no {
	left: 82%;
	top: 45%;
}



.leaderplayer {
/*  color: #fff;*/
  color: transparent;
  background: #ff6f69;
}

.friendplayer {
/*  color: #fff;*/
  color: transparent;
  background: #4B7AA5;
}

#trashdeck {
	position: relative;
	left: 350px;
	top: 230px;
}

.mobile #trashdeck {
  top: 175px;
  left: 315px;
}

.trashcard {
	width: 40px;
	height: auto;
	border-radius: 5px;
	
}

.mobile .trashcard {
  width: 36px;
}


#trashcard1 {
	left: 0px;

}
#trashcard2 {
	left: 20px;
}
#trashcard3 {
	left: 40px;
}



.popup {
  position: absolute;

  display: -webkit-box;     
  display: -moz-box;         
  display: -ms-flexbox;     
  display: -webkit-flex;    
  display: flex;     
  
	-webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: none;
  flex-wrap: nowrap; 

  
  left: 140px;
  top: 345px;
  width: 200px;
  height: 80px;
    
	font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  border-radius: 10px;
  background: white;
  border: 3px solid green;
  color: green;
  padding: 10px;
  
  z-index: 10000;
  
 
}

.mobile .popup {
  left: 100px;
}
#jokersuit {
  top: 45px;
}
#jokercall {
  top: 45px;
}

#notice {
  top: 45px;
}

.mobile #jokersuit {
  top: 5px;
}
.mobile #jokercall {
  top: 5px;
}

.mobile #notice {
  top: 5px;
}
.popup .popup-title {
  line-height: 30px;    
}
.popup .popup-title span {    
  width: 100%;
  color: green;
  text-align: center;
}

.popup #notice-content {
  text-align: center;
  line-height: 15px;
  font-size: 15px;
  padding: 3px;
}
.popup .popup-content {
  

  flex-basis: 26px;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  display: -webkit-box;     
  display: -moz-box;         
  display: -ms-flexbox;     
  display: -webkit-flex;    
  display: flex;     

	-webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: none;
  flex-wrap: nowrap; 

  background: white;  
  
}
.popup .popup-item {
  position: relative;
  display: -webkit-box;     
  display: -moz-box;         
  display: -ms-flexbox;     
  display: -webkit-flex;    
  display: flex;
  flex-basis: 20px;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
	padding: 5px;
	background: white;
	line-height: 32px;
  width: auto;  
  height: 32px;
  text-align: center;
  opacity: 0.5;  
  border-radius: 10px;
  z-index: 1000;
  color: green;
}

.popup .popup-item span {    
  width: 100%;
  opacity: 1;
  text-align: center;
}

.popup .popup-item:hover {
	cursor: pointer;
  opacity: 1;
	color: #ff6f69;
 
}

.popup .popup-item .s {
	opacity: 1;
	font-size: 22px;
/*  color: #ff6f69;*/
}


.popup .popup-item .u {
	opacity: 0.1;
}
.popup img {
  position: absolute;
  left: 10px;  
	display: inline-block;
	width: 60%;
	height: auto;
	border: none;
	opacity: 1;
  

}

